<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
  <link rel="stylesheet" href="./style.css">
 </head>

 <h1> wtf </h1>
 <body>

    <h1>Create a Basketball Team!</h1>

    <form method="POST" action="/newteam">
        <p>Team Name:<input type="text" name="team_name"/></p>
        <p>Coach:<input type="text" name="coach"/></p>
        <p>Point_gaurd:<input type="text" name="point_gaurd"/></p>
        <p>Shooting Guard<input type="text" name="shooting_gaurd"/></p>
        <p>Small Foward:<input type="text" name="smal_foward"/></p>
        <p>Power foward:<input type="text" name="power_foward"/></p>
        <p>Center:<input type="text" name="center"/></p>
        <input type="submit" />   

    </form>
 


 </body>
</html>


